In [1]:
import pandas as pd
import numpy as np

air = pd.read_csv("/Users/michalroczek/Desktop/course-files/Air_Traffic_Passenger_Statistics.csv")

In [2]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [3]:
air.set_index(["Operating Airline","Activity Period","Activity Type Code",],inplace=True)

In [4]:
air.head(10)

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC
Air China         200507          Deplaned                                    CA
                                  Enplaned                                    CA
Air France        200507          Deplaned                                    AF
                                  Enplaned                                    AF
Air New Zealand   200507          Deplaned                                    NZ

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
Air Canada        200507          Deplaned                  Air Canada
                                  Enplaned                  Air Canada
Air China         200507          Deplaned                   Air China
                                  Enplaned                   Air China
Air France        200507          Deplaned                  Air France
                                  Enplaned                  Air France
Air New Zealand   200507          Deplaned             Air New Zealand

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC
Air China         200507          Deplaned                                    CA
                                  Enplaned                                    CA
Air France        200507          Deplaned                                    AF
                                  Enplaned                                    AF
Air New Zealand   200507          Deplaned                                    NZ

                                                        GEO Summary  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
Air Canada        200507          Deplaned            International
                                  Enplaned            International
Air China         200507          Deplaned            International
                                  Enplaned            International
Air France        200507          Deplaned            International
                                  Enplaned            International
Air New Zealand   200507          Deplaned            International

                                                               GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                             US
                                  Enplaned                             US
                                  Thru / Transit                       US
Air Canada        200507          Deplaned                         Canada
                                  Enplaned                         Canada
Air China         200507          Deplaned                           Asia
                                  Enplaned                           Asia
Air France        200507          Deplaned                         Europe
                                  Enplaned                         Europe
Air New Zealand   200507          Deplaned            Australia / Oceania

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
Air Canada        200507          Deplaned                         Other
                                  Enplaned                         Other
Air China         200507          Deplaned                         Other
                                  Enplaned                         Other
Air France        200507          Deplaned                         Other
                                  Enplaned                         Other
Air New Zealand   200507          Deplaned                         Other

                                                           Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                                  Thru / Transit         Terminal 1
Air Canada        200507          Deplaned               Terminal 1
                                  Enplaned               Terminal 1
Air China         200507          Deplaned            International
                                  Enplaned            International
Air France        200507          Deplaned            International
                                  Enplaned            International
Air New Zealand   200507          Deplaned            International

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
Air Canada        200507          Deplaned                       B
                                  Enplaned                       B
Air China         200507          Deplaned                       G
                                  Enplaned                       G
Air France        200507          Deplaned                       A
                                  Enplaned                       A
Air New Zealand   200507          Deplaned                       G

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
Air Canada        200507          Deplaned                      35156
                                  Enplaned                      34090
Air China         200507          Deplaned                       6263
                                  Enplaned                       5500
Air France        200507          Deplaned                      12050
                                  Enplaned                      11638
Air New Zealand   200507          Deplaned                       4998

In [6]:
air.sort_index(inplace=True)

In [10]:
air.loc['Air France',200507,'Enplaned']

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [11]:
air.loc['Air France',200507]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638