In [1]:
import pandas as pd
import numpy as np

air = pd.read_csv("/Users/michalroczek/Desktop/course-files/Air_Traffic_Passenger_Statistics.csv")
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [19]:
air.set_index(["Operating Airline","Activity Period"],inplace=True)

In [20]:
air.head()

                                   index Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507               0                          TZ
                  200507               1                          TZ
                  200507               2                          TZ
Air Canada        200507               3                          AC
                  200507               4                          AC

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                  US           Deplaned
                  200507                  US           Enplaned
                  200507                  US     Thru / Transit
Air Canada        200507              Canada           Deplaned
                  200507              Canada           Enplaned

                                  Price Category Code    Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
Air Canada        200507                        Other  Terminal 1
                  200507                        Other  Terminal 1

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090

In [21]:
air.reset_index(inplace=True)

In [22]:
air.head()

,Operating Airline,Activity Period,index,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,0,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,1,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,2,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,3,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,4,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [23]:
air.set_index(["Activity Period","Operating Airline"],inplace=True)

In [25]:
air.head(10)

                                   index Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines           0                          TZ
                ATA Airlines           1                          TZ
                ATA Airlines           2                          TZ
                Air Canada             3                          AC
                Air Canada             4                          AC
                Air China              5                          CA
                Air China              6                          CA
                Air France             7                          AF
                Air France             8                          AF
                Air New Zealand        9                          NZ

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada
                Air China                 Air China
                Air China                 Air China
                Air France               Air France
                Air France               Air France
                Air New Zealand     Air New Zealand

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International
                Air China                                  CA  International
                Air China                                  CA  International
                Air France                                 AF  International
                Air France                                 AF  International
                Air New Zealand                            NZ  International

                                            GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines                        US           Deplaned
                ATA Airlines                        US           Enplaned
                ATA Airlines                        US     Thru / Transit
                Air Canada                      Canada           Deplaned
                Air Canada                      Canada           Enplaned
                Air China                         Asia           Deplaned
                Air China                         Asia           Enplaned
                Air France                      Europe           Deplaned
                Air France                      Europe           Enplaned
                Air New Zealand    Australia / Oceania           Deplaned

                                  Price Category Code       Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                Air Canada                      Other     Terminal 1
                Air Canada                      Other     Terminal 1
                Air China                       Other  International
                Air China                       Other  International
                Air France                      Other  International
                Air France                      Other  International
                Air New Zealand                 Other  International

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090
                Air China                     G             6263
                Air China                     G             5500
                Air France                    A            12050
                Air France                    A            11638
                Air New Zealand               G             4998