In [2]:
import pandas as pd
import numpy as np

animals = pd.read_csv('/Users/michalroczek/Desktop/course-files/sleep_time.csv',index_col=['ID']).fillna(0)

In [3]:
animals.head()

                          name       genus   vore  ... awake  brainwt   bodywt
ID                                                 ...
1                      Cheetah    Acinonyx  carni  ...  11.9  0.00000   50.000
2                   Owl monkey       Aotus   omni  ...   7.0  0.01550    0.480
3              Mountain beaver  Aplodontia  herbi  ...   9.6  0.00000    1.350
4   Greater short-tailed shrew     Blarina   omni  ...   9.1  0.00029    0.019
5                          Cow         Bos  herbi  ...  20.0  0.42300  600.000

[5 rows x 11 columns]

In [7]:
herbi = animals.where(animals['vore'] == 'herbi')

In [8]:
herbi.head()

               name       genus   vore  ... awake brainwt  bodywt
ID                                      ...
1               NaN         NaN    NaN  ...   NaN     NaN     NaN
2               NaN         NaN    NaN  ...   NaN     NaN     NaN
3   Mountain beaver  Aplodontia  herbi  ...   9.6   0.000    1.35
4               NaN         NaN    NaN  ...   NaN     NaN     NaN
5               Cow         Bos  herbi  ...  20.0   0.423  600.00

[5 rows x 11 columns]

In [9]:
len(herbi)

83

In [10]:
len(herbi.dropna())

32

In [23]:
carni = animals.where(animals['vore'] == 'carni')

In [24]:
carni.head()

       name     genus   vore      order  ... sleep_cycle  awake  brainwt  bodywt
ID                                       ...
1   Cheetah  Acinonyx  carni  Carnivora  ...         0.0   11.9      0.0    50.0
2       NaN       NaN    NaN        NaN  ...         NaN    NaN      NaN     NaN
3       NaN       NaN    NaN        NaN  ...         NaN    NaN      NaN     NaN
4       NaN       NaN    NaN        NaN  ...         NaN    NaN      NaN     NaN
5       NaN       NaN    NaN        NaN  ...         NaN    NaN      NaN     NaN

[5 rows x 11 columns]

In [13]:
len(carni)

83

In [25]:
len(carni.dropna())

19

In [17]:
omni = animals.where(animals['vore'] == 'omni')
print(len(omni))
print(len(omni.dropna()))

83
20

In [27]:
print("Carni: ",carni['sleep_total'].mean())
print("Omni: ",omni['sleep_total'].mean())
print("Herbi: ",herbi['sleep_total'].mean())

Carni:  10.378947368421054
Omni:  10.924999999999999
Herbi:  9.509375

In [29]:
animals.query('sleep_total > 14').head()

                          name       genus   vore  ... awake  brainwt  bodywt
ID                                                 ...
2                   Owl monkey       Aotus   omni  ...   7.0  0.01550   0.480
3              Mountain beaver  Aplodontia  herbi  ...   9.6  0.00000   1.350
4   Greater short-tailed shrew     Blarina   omni  ...   9.1  0.00029   0.019
6             Three-toed sloth    Bradypus  herbi  ...   9.6  0.00000   3.850
18        Long-nosed armadillo     Dasypus  carni  ...   6.6  0.01080   3.500

[5 rows x 11 columns]

In [31]:
animals.query('vore == "herbi" and sleep_total > 14')

                              name         genus   vore  ... awake brainwt  bodywt
ID                                                       ...
3                  Mountain beaver    Aplodontia  herbi  ...   9.6  0.0000   1.350
6                 Three-toed sloth      Bradypus  herbi  ...   9.6  0.0000   3.850
27       Western american chipmunk      Eutamias  herbi  ...   9.1  0.0000   0.071
39                Mongolian gerbil      Meriones  herbi  ...   9.8  0.0000   0.053
40                  Golden hamster  Mesocricetus  herbi  ...   9.7  0.0010   0.120
44            Round-tailed muskrat      Neofiber  herbi  ...   9.4  0.0000   0.266
70          Arctic ground squirrel  Spermophilus  herbi  ...   7.4  0.0057   0.920
72  Golden-mantled ground squirrel  Spermophilus  herbi  ...   8.1  0.0000   0.205
76       Eastern american chipmunk        Tamias  herbi  ...   8.2  0.0000   0.112

[9 rows x 11 columns]

In [32]:
animals.query('vore == "herbi" and sleep_total > 14 and bodywt > 1')

                name       genus   vore  ... awake brainwt  bodywt
ID                                       ...
3    Mountain beaver  Aplodontia  herbi  ...   9.6     0.0    1.35
6   Three-toed sloth    Bradypus  herbi  ...   9.6     0.0    3.85

[2 rows x 11 columns]